@font-face{
    font-family: fnt;
    src: url('../Font/bgothm.ttf') format('truetype');
}

body {
    font-family: fnt, Arial;
}

#field {
    display: block;
    margin: 0 auto;
    border: 1px solid #68759B;
    border-radius: 5px;
}

.button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-family: fnt;
    font-size: 20px;
    color: white;
    background-color: #383960;
    border: 3px solid white;
    border-radius: 4px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

    .button:hover {
        color: #383960;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
    }